div.bp-wrap-lwp {
  position: relative;
}

ul.bp-list-with-popups {
  overflow: visible;

  margin: 0;
  padding: 0;

  list-style: none;

  border: 0;
  > li {
    float: left;
    overflow: visible;

    margin: 0 10px 10px 0;
    padding: 0;

    border: 0;
    background: none;
  }
}

div {
  &.bp-item-element,
  &.bp-item-element2 {
    font-family: Ubuntu,sans-serif;
    font-size: 18px;

    width: 190px;
    padding: 15px;

    cursor: pointer;
    text-align: center;

    border: 1px solid #c0c0c0;
    border-radius: 8px;
    background: white;
  }
  &.bp-item-element > p,
  &.bp-item-element2 > p {
    font-size: 22px;
    line-height: 1em;

    margin: 10px 0 0 0;
    padding: 10px 0 0 0;

    color: red;
    border-top: 1px dashed #d0d0d0;
  }
  &.bp-item-element:hover {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .2);
  }
  &.bp-popup-element {
    font-family: Ubuntu,sans-serif;
    font-size: 18px;
    line-height: 1.2em;

    display: none;

    width: 260px;
    padding: 30px;

    cursor: auto;
    text-align: center;

    border-radius: 8px;
    background: #d0ec6f;
    > {
      p {
        margin: 0;

        text-align: left;
        + p {
          margin-top: 10px;
          padding-top: 10px;

          border-top: 1px dashed white;
        }
        > {
          b {
            font-weight: bold;

            color: #7ea724;
          }
          span {
            font-weight: bold;

            color: #333;
          }
        }
      }
      span > a {
        font-size: 15px;

        color: #7ea724;
      }
    }
  }
  &.bp-item-element2 {
    border: 1px solid white;
    background: white;
  }
}

#bp-shaded-background {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100%;

  background: black;
}

.bp_compare_head {
  font-size: 17px;
  font-weight: bold;
  line-height: 35px;

  padding: 5px 10px 5px 10px;
  form {
    float: right;

    margin-left: 5px;
  }
}

.bp_compare_table {
  width: 100%;

  table-layout: fixed;
  td {
    font-size: 12px;

    padding: 6px 2px 6px 10px;

    text-align: center;
    vertical-align: middle;

    border: 1px solid #e8e8e8;
    &.faceoff {
      font-size: 15px;
    }
    &.fld-logo_html2.faceoff a img {
      height: 45px !important;
    }
    a.btn.green-button.faceoff {
      font-size: 20px;
    }
    &.prop {
      width: 160px;

      background-color: #f4f4f4;
    }
  }
  tr.alt-row {
    background-color: #f4f4f4;
  }
  td {
    &.fld-price {
      font-size: 18px !important;

      color: #709f13;
    }
    &.section_head {
      padding: 5px 0 5px 0;

      border: none;
      > div {
        font-size: 15px;
        font-weight: bold;
        line-height: 46px;

        height: 46px;

        text-transform: uppercase;

        color: black;
        border-radius: 6px;
      }
    }
  }
}

.bp-profile-button {
  font-size: 18px;
  font-weight: bold;

  display: block;

  padding: 10px 20px 10px 20px;

  text-align: center;
  text-decoration: none;

  color: white !important;
  border-radius: 6px;
  background: url('../img/profile-button-bg.png') repeat-x 0 0;
  &:hover {
    text-decoration: none;

    color: white;
    background-position: 0 -60px;
  }
}

div {
  &.rating-stars {
    width: 98px;
    height: 17px;
    margin: 0 auto;

    background: url('../img/rating-stars.png') 0 0 no-repeat;
    > div {
      height: 100%;

      background: url('../img/rating-stars.png') 0 -17px no-repeat;
    }
  }
  &.icon-tick {
    width: 28px;
    height: 28px;
    margin: 0 auto;

    background: url('../img/tick-2.png') 2px 0 no-repeat;
  }
  &.icon-cross {
    width: 28px;
    height: 28px;
    margin: 0 auto;

    background: url('../img/tick-2.png') 2px 0 no-repeat;
    background: url('../img/cross.png') 0 0;
  }
}

a {
  &.guide-link,
  &.guide-area-link {
    font-size: 17px;
    font-weight: bold;
    line-height: 1em;

    display: block;
    float: left;

    width: 135px;
    padding: 0 5px 0 5px;

    text-align: center;
    text-decoration: none;
  }
  &.guide-link > div.guide-icon {
    width: 100%;
    height: 110px;
    margin: 0 auto 0 auto;

    cursor: pointer;
    text-decoration: none;

    background: url('../img/guide-icons2.jpg');
  }
  &.guide-area-link {
    width: 279px;

    text-decoration: none;
    > div.guide-icon {
      width: 100%;

      height: 245px;
      margin: 0 auto 0 auto;

      cursor: pointer;
      text-decoration: none;

      background: url('../img/guide-icons2.jpg');
    }
  }
}

.guide-icon-mac {
  background-position: (-135px) 0 !important;
}

.guide-icon-win {
  background-position: (-270px) 0 !important;
}

.guide-icon-linux {
  background-position: (-405px) 0 !important;
}

.guide-icon-iphone {
  background-position: (-540px) 0 !important;
}

.guide-icon-android {
  background-position: (-675px) 0 !important;
}

.guide-icon-free {
  background-position: (-540px) -110px !important;
}

.guide-icon-unlimited {
  background-position: (-405px) -110px !important;
}

.guide-icon-sharing {
  background-position: (-270px) -110px !important;
}

.guide-icon-ftp {
  background-position: (-135px) -110px !important;
}

.guide-icon-business {
  background-position: 0 -110px !important;
}

.guide-icon-versioning {
  background-position: 0 0 !important;
}

.guide-icon-faceoff {
  background-position: (-675px) -110px !important;
}

.guide-icon-usa {
  background-position: 0 -220px !important;
}

.guide-icon-eur {
  background-position: (-279px) -220px !important;
}

.guide-icon-asia {
  background-position: (-558px) -220px !important;
}

.guide-part {
  margin-bottom: 45px;
}
